.hero.contact-hero {
  // background-color: #fff;
  position: relative;

  & .hero-img-mobile {
    position: relative;
    height: 12vh;

    & .hero__header {
      position: relative;
      top: 1rem;
      left: 37px;
      padding: 0.2rem 0 0.2rem 0.2rem;
      color: $font-color;
      width: 80vw;
      & h1 {
        font-size: 2rem;
        letter-spacing: 0.12rem;
      }
    }
  }

  & .hero-contact .hero-contact__text p {
    font-size: 1.15rem;
    margin-top: 0.8rem;
  }

  & .hero-contact .hero-contact__buttons {
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    & a {
      display: block;
      width: 100%;
      padding: 0.8rem 2rem;
      font-size: 2rem;
    }

    & small {
      color: $font-color;
    }
  }

  & .hero-contact .hero-contact__location-hint {
    & a,
    & p {
      padding-top: 2vh;
      color: $dark-text;
    }

    & svg {
      margin-top: 0.2rem;
    }
  }
}
