::slotted(h1) {
  color: rgb(51, 6, 37);
  background-color: rgb(248, 211, 236);
  padding: 5px;
  border-radius: 5px;
  width: fit-content;
}

.header {
  margin-bottom: 40px;
}

.heading_container {
  padding-top: 100px;
  margin-bottom: 10px;

  h1 {
    font-size: 36px;
  }

  small {
    font-size: 1em;
    display: block;
  }
}

.article {
  h3 {
    font-size: 1.75rem;
  }

  &__datetime {
    color: #707070;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
  }
}

.hero_img {
  position: relative;
  width: 100vw;
  left: -1.3125rem;
}

@media (min-width: 768px) {
  .content__container {
    margin-left: auto;
    margin-right: auto;
    max-width: 42rem;
    p {
      font-size: 19px;
    }
  }

  .heading_container {
    background-color: #f9f9f9;
    padding-top: 210px;
    margin-bottom: 10px;

    h1,
    small {
      margin-left: auto;
      margin-right: auto;
      max-width: 42rem;
    }
  }

  .hero_img {
    left: unset;
  }

  .article__tags,
  .article__datetime,
  .hero_img {
    margin-left: auto;
    margin-right: auto;
    max-width: 42rem;
    padding-left: 0;
    padding-right: 0;
  }
}
