@keyframes come-in {
  from {
    transform: translateX(100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes come-in-left {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(-60%);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  from {
    transform: translateX(10%);
    opacity: 0;
  }
  to {
    transform: translateX(-5%);
    opacity: 1;
  }
}

@mixin slide-in {
  animation: come-in 0.4s ease forwards;
  animation-fill-mode: forwards;
}
