/*------------------------------------*\
    #Color Palette
\*------------------------------------*/
$black-blue: #081214;
$white: #fff;
$pink-orange: #e0907d;

/*------------------------------------*\
    #Colors
\*------------------------------------*/
$bg-primary: $black-blue;
$cta-text: $pink-orange;
$font-color: $white;
$nav-bg: $white;
$nav-color: $black-blue;
