@import 'reset';

html {
  background-color: #f7f6f5;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-weight: normal;
  font-stretch: normal;
  font-size: 18px;
  line-height: 1.5;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

p {
  margin-bottom: 0.75em;
}

code[class*='language-'],
pre[class*='language-'] {
  text-shadow: none !important;
}

@media (max-width: 768px) {
  code[class*='language-'],
  pre[class*='language-'] {
    width: 100vw;
    position: relative;
    left: -1.3125rem;
  }
}
