.logo {
  line-height: 1;
  text-decoration: none;
  transition: transform 0.6s ease, opacity 0.4s ease;
  h1 {
    color: #000000;
    font-size: 22px;
  }
  h3 {
    color: #707070;
    font-size: 15px;

    span {
      color: #931337;
    }
  }
}

.hidden {
  transform: translateY(-200px);
  opacity: 0;
}

@media (min-width: 768px) {
  .logo {
    h1 {
      font-size: 36px;
    }
    h3 {
      font-size: 22px;

      span {
        color: #931337;
      }
    }
  }
}
